/.git
/bitrix
/upload
/vendor
/yandex_*.html
/google*.html
/wmail*.html
/composer.phar
/composer.lock
/.idea/*
/.htaccess
*.log
*.sql
*.txt
*.xml
*.dt
*.*_
*.gz
*.gz.?
*.zip
*.tar
*.swp
*.swo
*.DS_Store
/.cache
/*.htaccess
/.htaccess*
/.well-known
